<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Menù</title>
  </head>
  <body>
    <th:block th:replace="fragments/header :: header"></th:block>

    <main>
      <div class="page-title">
        <h1>Menù</h1>
      </div>

      <div class="card-layout">
        <div
          th:if="${pizzas.size() > 0}"
          class="card-container"
          th:each="pizza : ${pizzas}"
          th:object="${pizza}"
        >
          <th:block
            th:replace="~{fragments/card :: pizzasCard(${pizza})}"
          ></th:block>
        </div>
      </div>

      <div class="no-pizzas-container">
        <h2 th:unless="${pizzas.size() > 0}" class="no-pizzas">
          Nessuna pizza disponibile
        </h2>
      </div>

      <div id="search" class="">
        <img th:src="@{/img/prova.webp}" th:alt="Search" />
      </div>
      <div id="modal" class="d-none">
        <input type="text" />
        <button>Vai</button>
      </div>
    </main>

    <footer>
      <span>footer</span>
    </footer>
  </body>
</html>

<!-- ! SCRIPT -->
<script th:inline="javascript">
  let btn = document.getElementById("search");
  let modal = document.getElementById("modal");

  let modalIsOpen = false;

  btn.addEventListener("click", (e) => {
    if (modalIsOpen == false) {
      modal.className = "open";
      modalIsOpen = true;
    } else {
      modal.className = "d-none";
      modalIsOpen = false;
    }
  });
</script>
